*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.container {
  padding: 90px 15px;
  background-color: #f7feff;
  .wrapper {
    // text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    button {
      margin: 7px; /* only for development */
      padding: 10px 30px;
      cursor: pointer;
      font-size: 16px;
      color: #222222;
      background-color: transparent;
      text-transform: capitalize;
      transition: background-color 0.4s ease-in-out;
    }
    button.example-1 {
      border: 2px solid #32a852;
      &:hover {
        background-color: #1d853a;
        color: #ffffff;
      }
    }
    button.example-2 {
      border: 2px dotted #ff9800;
      &:hover {
        background-color: #ffb64a;
        color: #ffffff;
      }
    }
    button.example-3 {
      border: 2px dashed #be0000;
      &:hover {
        background-color: #fc3838;
        color: #ffffff;
      }
    }
    button.example-4 {
      // less than 3 pixels will not render/work. because the gap will be so think that is not visible to human eyes
      border: 4px double #5132fc;
      padding: 8px 30px;
      &:hover {
        background-color: #8b75ff;
        color: #ffffff;
      }
    }
    button.example-5 {
      border-width: 4px;
      border-color: #95c200;
      border-style: dotted dashed solid double;
      padding: 8px 30px;
      &:hover {
        background-color: #95c200;
        color: #ffffff;
      }
    }
    button.example-6 {
      border: 12px groove #0aff9d;
      padding: 6px 30px;
      &:hover {
        background-color: #0aff9d;
      }
    }
    button.example-7 {
      border: 12px ridge #c9006f;
      padding: 6px 30px;
      &:hover {
        background-color: #c9006f;
        color: #ffffff;
      }
    }
    button.example-8 {
      border: 12px inset #b10ee3;
      padding: 6px 30px;
      &:hover {
        background-color: #b10ee3;
        color: #ffffff;
      }
    }
    button.example-9 {
      border: 12px outset #95c200;
      padding: 6px 30px;
      &:hover {
        background-color: #95c200;
        color: #ffffff;
      }
    }
    button.example-10 {
      padding: 6px 30px;
      border-width: 10px 10px 10px 10px;
      border-image: linear-gradient(45deg, #ff0000 0%, #800080 100%);
      border-image-slice: 9;
      border-style: solid;
      &:hover {
        background-image: linear-gradient(315deg, #fb0004 10%, #980068 74%);
        color: #ffffff;
      }
    }
    button.example-11 {
      background-color: #1d853a;
      color: #ffffff;
      border: 2px solid #105c25;
      &:hover {
        background-color: #105c25;
      }
    }
  }
}
